.Zhibek-second-part {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 110px 165px 50px 165px;
    font-family:'Roboto';
}

.main {
    width: calc(50% - 30px);
    margin-right: 30px;
}

.Light-etc {
    font-weight: 500;
    font-size: 36px;
}

.girl {
    width: 50%;
}

.girl > svg {
    width: 100%;
}

.Zhibek-text {
    max-width: 707px;
    width: 100%;
    padding-top: 16px;

    font-weight: 400;
    font-size: 16px;
   
    color: #6F7CB2;

}
.secondary {
    display: flex;
    margin-top: 80px;
}

@media screen and (max-width: 840px) {
    .Zhibek-second-part {
        padding: 40px 16px;
    }
}

@media screen and (max-width: 720px) {

    .Zhibek-second-part {
        background: #9CA7DF;
        padding: 40px 16px;
        display: flex;
        flex-direction: column;
    }

    .girl > svg {
        height: auto;
        margin-bottom: 34px;
    }

    .girl {
        width: 100%;
    }

    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 61px;
        margin-right: 0;
    }

    .Light-etc {
        font-size: 26px;
        color: #FFFFFF;
    }

    .secondary {
        text-align: center;
        flex-direction: column;
        color: #FFFFFF;
    }

    .left-title{
        margin-bottom: 40px;
    }

    .left-title > svg, .right-title > svg {
        width: 100%;
    }

    .left-title > svg > path, .right-title > svg > path {
        fill: #FFFFFF;
    }

    .Zhibek-text {
        color: #FFFFFF;
    }
}